.responsive{
    display: flex;
    flex-wrap: wrap;
}

.in-flex{
    flex: 1;
    min-width: 50px;
    
    
}

.in-flex:first-child{
    flex: 2;
    padding: 25px;
    margin: 10px;
    margin-bottom: 0px;
}

.in-flex div{
    padding: 25px;
    margin: 10px;
}
.z-depth-5{
    color:white;
}